<svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-caret" viewBox="0 0 10 20">
	<title>Pictogramme --svg</title>
	<style>
		.s0ff { fill: none;stroke: #575756;stroke-width: 1.4 } 
		.s1ff { fill: none;stroke: #575756;stroke-linecap: round;stroke-linejoin: round;stroke-width: 1.4 } 
	</style>
	<g id="Calque_1-2">
		<g id="Layer">
			<path id="Layer" class="s0ff" d="m10 19.3c-5.1 0-9.3-4.2-9.3-9.3 0-5.1 4.2-9.3 9.3-9.3 5.1 0 9.3 4.2 9.3 9.3 0 5.1-4.2 9.3-9.3 9.3z"/>
			<path id="Layer" class="s1ff" d="m5 10h10"/>
		</g>
	</g>
</svg>