<div style="padding-bottom:150px;"> 
<h2 class="text-center pb-20">NOUS ANALYSONS VOS REPONSES</h2>
        
         <style>
    
#progressbar{
  height: 20px;

  width: 500px;

         border:1px solid #D0C4E2 !important;
  border-radius: 4px;
margin:60px auto;
  padding: 0px;
  
}
#loading{
  transition: all 500ms ease;
  height: 20px;
  width: calc(100% - 10px);
  border-radius: 2px;
  background: #D0C4E2;
  position: absolute;
  margin: 0px;
  display: inline-block;
  animation: load 15s ease infinite;
}


@keyframes load{
  0%{ width: 0%;}
  10%{ width: 10%;}
}

</style>
    <div id="progressbar">
     <span id="loading"></span>

    </div>
         <div class="columns5 flex text-center justify-around">
           <div class="column1">
         <img src="">
         <h3>Personnalisé</h3>
           </div>
            <div class="column2">
                 <img src="">
         <h3>Naturel</h3>
           </div>
            <div class="column3">
                 <img src="">
                  <h3>Anti-gaspi</h3>
           </div>
            <div class="column4">
                 <img src="">
                  <h3>Vegan</h3>
           </div>
            <div class="column5">
                 <img src="">
                  <h3>Unique</h3>
           </div>
         
         </div>

<script>
  setTimeout(function() {
  window.location.href = 'https://hilo-cosmetiques.myshopify.com/pages/result-diagnostic';
}, 8000);

</script>


{% schema %}
{
    "name": "Result loading",
    "settings": [],
   "presets": [
    {
      "name": "Result loading  Quiz",
      "category": "Result ",
      "blocks": [
      ]
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}