<h2>Please wait, loading diagnostic</h2>

<script>
  setTimeout(function() {
  window.location.href = 'https://hilo-cosmetiques.myshopify.com/pages/result-diagnostic';
}, 5000);

</script>


{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}