<div class="etapas">
  <div class="etapa1">
  1
  </div>
  <div class="etapa1">
  2
  </div>
  <div class="etapa1">
  3
  </div>
  <div class="etapa1">
  4
  </div>
</div>

<div class="form-quiz">
  <div class="step1">
      <div class="faq1">
         <input type="text" placeholder="Prenom;">
      </div>
  </div>

</div>

  


{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}