<template>
  <fieldset>
    <div>
      <input type="checkbox" id="Imperfections" name="Imperfections" value="Imperfections"
        x-model="selected"
        x-on:change="handleSelection('Imperfections')">
      <label for="Imperfections">Imperfections</label>
    </div>

    <div>
      <input type="checkbox" id="Signes de l'âge" name="Signes de l'âge" value="Signes de l'âge"
        x-model="selected"
        x-on:change="handleSelection('Signes de l\'âge')">
      <label for="Signes de l'âge">Signes de l'âge</label>
    </div>

    <div>
      <input type="checkbox" id="Déshydratation" name="Déshydratation" value="Déshydratation"
        x-model="selected"
        x-on:change="handleSelection('Déshydratation')">
      <label for="Déshydratation">Déshydratation</label>
    </div>

    <div>
      <input type="checkbox" id="Rougeurs" name="Rougeurs" value="Rougeurs"
        x-model="selected"
        x-on:change="handleSelection('Rougeurs')">
      <label for="Rougeurs">Rougeurs</label>
    </div>

    <div>
      <input type="checkbox" id="Eclat" name="Eclat" value="Eclat"
        x-model="selected"
        x-on:change="handleSelection('Eclat')">
      <label for="Eclat">Eclat</label>
    </div>

    <div>
      <input type="checkbox" id="Brillance" name="Brillance" value="Brillance"
        x-model="selected"
        x-on:change="handleSelection('Brillance')">
      <label for="Brillance">Brillance</label>
    </div>

    <p>Selected: {{ selected }}</p>
  </fieldset>
</template>

<script>
  export default {
    data() {
      return {
        selected: [],
      }
    },
    methods: {
      handleSelection(option) {
        // Add option to selected array
        this.selected.push(option)

        // Remove oldest option if array length is greater than 3
        if (this.selected.length > 3) {
          this.selected.shift()
        }
      },
    },
  }
</script>


<div class="page-width " style="margin-bottom:100px;" >
  <div class="etapas grid grid-cols-4 text-center justify-center">
  <div class="etapa1 border-2  rounded-sm border-teal-600 bg-teal-300 p-10 " :class="{ 'active-step': step === 1 }">
  1
  </div>
  <div class="etapa1 border-2  rounded-sm border-teal-600 bg-teal-300 p-10" :class="{ 'active-step': step === 2 }">
  2
  </div>
  <div class="etapa1 border-2  rounded-sm border-teal-600 bg-teal-300 p-10" :class="{ 'active-step': step === 3 }">
  3
  </div>
  <div class="etapa1 border-2  rounded-sm border-teal-600 bg-teal-300 p-10" :class="{ 'active-step': step === 4}">
  4
  </div>
</div>

<div class="form-quiz">


   <div class="step1 border-2  rounded-sm  p-20 m-20" x-show="step === 1" style="background:#fdf8ed; border-color:#f5dfa5;">
      <div class="faq1">
         <input id="prenom" type="text" placeholder="Prenom *">
      </div>

    <div class="faq2">
         <fieldset>
            <legend>Sex</legend>
            <label>
                <input type="radio" name="color" value="azul"> Azul
            </label>
            <label>
                <input type="radio" name="color" value="negro"> Negro
            </label>
            <label>
                <input type="radio" name="color" value="amarillo"> Amarillo
            </label>
        </fieldset>
      </div>
      <div class="faq3">
         <fieldset>
            <legend>Age</legend>
            <label>
                <input type="radio" name="color" value="azul"> Azul
            </label>
            <label>
                <input type="radio" name="color" value="negro"> Negro
            </label>
            <label>
                <input type="radio" name="color" value="amarillo"> Amarillo
            </label>
        </fieldset>
      </div>
      <button @click="step++;"  class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Siguiente</button>
  </div>

   <div class="step2 border-2  rounded-sm border-teal-600 bg-teal-300 p-20 m-20" x-show="step === 2" style="background:#f2f8f1; border-color:#cde4ca;">

      <div class="faq1">
          <fieldset>
            <legend>En général, j'observe que ma peau tiraille...</legend>
            <label>
                <input type="radio" name="color" value="azul"> Azul
            </label>
            <label>
                <input type="radio" name="color" value="negro"> Negro
            </label>
            <label>
                <input type="radio" name="color" value="amarillo"> Amarillo
            </label>
        </fieldset>
      </div>

    <div class="faq2 ">
         <fieldset>
            <legend>En général, j'observe que ma peau brille...</legend>
            <label>
                <input type="radio" name="color" value="azul"> Azul
            </label>
            <label>
                <input type="radio" name="color" value="negro"> Negro
            </label>
            <label>
                <input type="radio" name="color" value="amarillo"> Amarillo
            </label>
        </fieldset>
      </div>
      <div class="faq3">
         <fieldset>
            <legend>En général, j'observe que mon maquillage...</legend>
            <label>
                <input type="radio" name="color" value="azul"> Azul
            </label>
            <label>
                <input type="radio" name="color" value="negro"> Negro
            </label>
            <label>
                <input type="radio" name="color" value="amarillo"> Amarillo
            </label>
        </fieldset>
      </div>
   
      <button @click="step++;"  class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Siguiente</button>
  </div>

   <div class="step3 border-2  rounded-sm border-teal-600 bg-teal-300 p-20 m-20" x-show="step === 3" style="border-color:#b7daf3; background:#eef6fc;">

    <fieldset>
            <legend>En ce moment, quelles sont les préoccupations que vous avez vis-à-vis de votre peau ? (sélectionnez 1 à 3 réponses)</legend>
 <div>
        <input type="checkbox" id="Imperfections" name="Imperfections" value="Imperfections"
        x-model="selected"
        x-on:change="if (selected.length > 3) { selected.pop(); }">
        <label for="Imperfections">Imperfections</label>
    </div>

    <div>
        <input type="checkbox" id="Signes de l'âge" name="Signes de l'âge" value="Signes de l'âge"
        x-model="selected"
        x-on:change="if (selected.length > 3) { selected.pop(); }">
        <label for="Signes de l'âge">Signes de l'âge</label>
    </div>

    <div>
        <input type="checkbox" id="Déshydratation" name="Déshydratation" value="Déshydratation"
        x-model="selected"
        x-on:change="if (selected.length > 3) { selected.pop(); }">
        <label for="Déshydratation">Déshydratation</label>
    </div>

    <div>
        <input type="checkbox" id="Rougeurs, irritations cutanées" name="Rougeurs, irritations cutanées" value="Rougeurs, irritations cutanées"
        x-model="selected"
        x-on:change="if (selected.length > 3) { selected.pop(); }">
        <label for="Rougeurs, irritations cutanées">Rougeurs, irritations cutanées</label>
    </div>

    <div>
        <input type="checkbox" id="Eclat" name="Eclat" value="Eclat"
        x-model="selected"
        x-on:change="if (selected.length > 3) { selected.pop(); }">
        <label for="Eclat">Eclat</label>
    </div>

    <div>
        <input type="checkbox" id="Brillance" name="Brillance" value="Brillance"
        x-model="selected"
        x-on:change="if (selected.length > 3) { selected.pop(); }">
        <label for="Brillance">Brillance</label>
    </div>
</fieldset>

  
   
      <button @click="step++;"  class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Siguiente</button>
   </div>
     <div class="step4 border-2  rounded-sm border-teal-600 bg-teal-300 p-20 m-20" x-show="step === 4" style="border-color:#F8C8D3; background:#FDEDF1;"> 
       <h2>responde preocupaciones</h2>
     <fieldset>
            <legend>Sex</legend>
            <label>
                <input type="radio" name="color" value="azul"> Azul
            </label>
            <label>
                <input type="radio" name="color" value="negro"> Negro
            </label>
            <label>
                <input type="radio" name="color" value="amarillo"> Amarillo
            </label>
        </fieldset>

    <div class="faq2">
         <fieldset>
            <legend>Sex</legend>
            <label>
                <input type="radio" name="color" value="azul"> Azul
            </label>
            <label>
                <input type="radio" name="color" value="negro"> Negro
            </label>
            <label>
                <input type="radio" name="color" value="amarillo"> Amarillo
            </label>
        </fieldset>
      </div>
      <div class="faq3">
         <fieldset>
            <legend>Sex</legend>
            <label>
                <input type="radio" name="color" value="azul"> Azul
            </label>
            <label>
                <input type="radio" name="color" value="negro"> Negro
            </label>
            <label>
                <input type="radio" name="color" value="amarillo"> Amarillo
            </label>
        </fieldset>
      </div>


      <button @click="alert('Proceso completado')" class="bg-red-500 hover:red-700 text-white font-bold py-2 px-4 rounded">Finalizar</button>

       
  </div>

</div>

  </div>

<style>
  .active-step {
  background-color: #fbbf24;
}
</style>
{% schema %}
  {
    "name": "Section name",
    "settings": [],
   "presets": [
    {
      "name": "Quiz",
      "category": "Quiz by Sections.design",
      "blocks": [
      ]
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}