.list-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

@media only screen and (max-width: 749px) {
  .list-social {
    justify-content: center;
  }
}

.list-social__item .icon {
  height: 1.8rem;
  width: 1.8rem;
}

.list-social__link {
  align-items: center;
  display: flex;
  padding-right: 2.6rem;
  color: rgb(var(--color-foreground));
}
@media screen and (max-width: 649px) {
  .list-social__link svg{
    width: 30px;
    height: 30px;
  }
}
.list-social__link:hover .icon {
  transform: scale(1.07);
}
