

/*.title-wrapper--no-top-margin>.title ,
h2.rich-text__heading.rte,


.multi-columns-titulo1,
.rich-text-titulo1 {
  text-align: center;
  font-size:30px;
  font-weight:700;
letter-spacing: 0px;
color: #575756;
opacity: 1;
}

.multi-columns-texto,
.rich-text-texto {
  font-size:19px;
  line-height:22px;
  text-align: center;
}


.multi-columns-btn,
.rich-text-btn {
    font-size:19px;
  line-height:22px;
    text-align: center;
}

*/
/* settings.customcss 
Estilos: 
Multi Column Classic  multi-classic
Rich Text Classic   rich-classic
  Multi Column char  multi-char
Multi Column Featured  multi-featured
Multi Column Slider multi-slider
Multi Column testimonials  multi-testimonials
section newsletter section-news
*/



.cc-btn{
  cursor:pointer!important;
}

#Slider-template--17804308381991__featured_collection.collection-sliders, #Slider-template--17804308218151__d1729d12-e0e2-4aff-abd1-a485a8f5a0ae.collection-sliders{
  display:none!important;
}


.diagnosticpage{
  display:none;
}

.product__description.produit-no-custom{
  margin-bottom:0px!important;
}

ol, .metafield-rich_text_field ul li, .article-template ul li{
  margin-top:20px;
  margin-bottom:20px;
}

ol li{
  list-style-type:decimal!important;
}

.ingrediente-column h5{
  cursor:pointer;
}

.article-template__link {
    color: #fccf9c;
    text-decoration: underline!important;
    font-weight: 600;
    font-size: 12px;
}

@media screen and (min-width: 650px){
  .waves5b-rich-text {
      bottom:0px!important;
  } 
}

.one-column .container-result{
  cursor:pointer;
}

.container-routine .button:hover {
    background: transparent;
    color: #D0C4E2;
    border:2px solid #D0C4E2;
}

.quantity__input{
  height:29px;
}

.slider-button .icon{
  height: 1.6rem!important;
}

.metafield-rich_text_field a{
  text-decoration:underline;
}

.accordion .metafield-rich_text_field ul li, .article-template ul li{
  list-style-type:disc!important;
}

table:not([class]) td, table:not([class]) th{
  border:0px;
}

.banner__content .button--secondary:after{
    border-radius: 30px!important;
}



@media screen and (min-width: 990px){
.page-width--narrow {
    max-width: 98.6rem;
    padding: 0;
}
}


table:not([class]){
  box-shadow:none;
}

.btn-diagnostic:hover{
  background: #fff;
  color:#D0C4E2;
  text-decoration:none!important;
  border:2px solid #D0C4E2;
}

.cart__warnings .button:hover{
  background: #fff;
  color:#D0C4E2;
  border:2px solid #D0C4E2;
}

.link.underlined-linkk:hover{
  font-weight:500;
}

.cart__items .title-wrapper-with-link a:hover{
  text-decoration:underline;
}

.cart__items .title-wrapper-with-link a{
  cursor:pointer;
}

.service-client a{
  text-decoration:underline;
}

.header__icons .cls-1{
  stroke:#575756!important;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-width:3px!important;
}

.account-active .cls-1, .cart-active .cls-1 {
    stroke: #F7B378!important;
}

.cart-active .cart-count-bubble{
  background-color: #f2c79d!important;
}

.metafield-rich_text_field a{
  opacity:0.75;
}

.jdgm-write-rev-link.jdgm-write-rev-link{
  border-radius:40px;
}

.container-modal > button.button:hover, .collection .quick-add__submit:hover{
  border: 2px solid #D0C4E2;
  background: transparent;
  color:#D0C4E2;
}

.collection .quick-add__submit{
  text-align:center;
}

.newsletter-form__button:hover, .multi-slider .slick-slide .button:hover {
  border: 2px solid #575756;
  background: #575756!important;
  color:#FFF!important;
}

.btn-circle a:hover, .waves2a .button:hover {
    color: #fff!important;
    border-radius: 30px;
    background-color: #575756!important;
}

.ingrediente-column .container-images{
  width:100px;
}

.container-images .itshover{
  left:36%;
}

.ingrediente-column .container-images img{
  cursor:pointer;
}

.product-form__submit:hover{
    background: #fff;
    color: #D0C4E2;
    border: 2px solid #D0C4E2;
}

.button:disabled:hover{
    background: #D0C4E2!important;
    color: #fff!important;
    cursor: not-allowed!important;
    opacity: 0.5!important;
}

.product-form__submit:not([disabled]):hover::after{
  border:none!important;
}

.rich-text__text.rte.bg_subtitle a{
  color:#575756BF;
  text-decoration:underline;
}

.faq2 .text-label2 img, .faq3 .text-label2 img{
  cursor:pointer;
}

.container-label input, .container-label input{
  cursor:pointer;
}

.back-container span.precedent{
  cursor:pointer;
}

.step4 button:hover, .step5 button:hover{
  background-color: #fff;
  color:#F8C8D3;
}

.step3 button:hover{
  background-color: #fff;
  color:#b7daf3;
}

.step2 button:hover {
  background-color: #fff;
  color:#cde4ca;
}

.step1 button:hover {
  background-color: #fff;
  color:#F5DEA3;
}

.button:not([disabled]):hover::after{
    border: 2px solid #575756;
  --border-offset: none; 
}

#ContactForm button.button:hover {
    background: #fff !important;
    border: 2px solid #F8C8D3;
    color: #F8C8D3!important;
}

#ContactForm button.button{
  color:#FFF!important;
}

.list-social__item a:hover .s0{
  fill:#FFF;
}

.contact-email:hover .cls-1 {
    stroke: #575756;
}

.cart__ctas button:hover {
    background: #fff;
    color: #F8C8D3;
    border: 2px solid #F8C8D3;
}

.header__icons a:hover .cls-1{
  stroke: #f2c79d!important;
}

.header__icons a:hover .cart-count-bubble{
  background-color: #f2c79d!important;
}

.multicolumn-list__item.center .media--adapt img{
  cursor:pointer;
}

.rich-text__blocks .list-social__item a:hover .s0{
  fill:#575756!important;
}

.footer-block__details-content a{
  opacity:0.75;
  color:#575756!important;
}

.footer-block__details-content a:hover {
  opacity:1;
    text-decoration-thickness: 0!important;
}

/*.banner-home .button:after{
  border-radius:30px!important;
}

.banner-home .button:hover:after{
  background-color:white;
}

.banner-home .button:hover{
  color:#F2C79D!important;
}*/

.jdgm-widget:not(.jdgm-review-widget--small,.jdgm-review-widget--medium) .jdgm-rev-widg__title {
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 32px;
    text-align: center;
    line-height: 36px;
    font-weight: 700;
    width: 100%;
    text-transform: uppercase;
}

.jdgm-btn--solid, input[type=submit].jdgm-btn--solid {
    border-radius: 40px!important;
}

.jdgm-widget:not(.jdgm-review-widget--small) .jdgm-form__fieldset-actions .jdgm-cancel-rev {
    border-radius: 40px;
}

.jdgm-preview-badge .jdgm-star {
    color: #EFD1BF!important;
}
.jdgm-prev-badge__text {
    font-size: 10px;
}

.customer .field input:not(:placeholder-shown), .customer .field input:-webkit-autofill {
    border-radius: 30px;
}

.customer button, .shopify-challenge__container .shopify-challenge__button{
    background: #D0C4E2;
  border:2px solid #D0C4E2;
    border-radius: 30px;
    color: white;
    font-weight: bold;
}

.shopify-challenge__container .shopify-challenge__button{
  margin-top:30px;
}

.shopify-challenge__container .shopify-challenge__message, .shopify-challenge__container .shopify-challenge__errors{
  margin-bottom:30px;
}

.customer .field:after{
  border-radius:30px!important;
}

.customer button:after, .customer button:hover::after{
  box-shadow:none;
  --border-offset: none;
}

#insta-feed{
  margin-bottom:150px!important;
}

.addresses form button[type], .addresses li>button:first-of-type, .addresses li>button+button{
  border:none;
}

.addresses form button[type]:hover, .addresses li>button:first-of-type:hover, .addresses li>button+button:hover{
  text-decoration:underline;
  color:black;
  border:none;
}

.product-option+.product-option, .product-option {
    margin-top: 0.4rem;
}

.result-multi{
  margin-top:auto!important;
}

.corner-left-top-pink .eclat {
    position: absolute;
    width: 60px;
  height: 103px;
    margin-left: 145px;
    top: 49px;
}

.corner-left-top-purple .eclat {
    position: absolute;
    width: 60px;
  height: 103px;
    margin-left: 145px;
    top: 49px;
}

.corner-right-top-pink .eclat {
    position: absolute;
    width: 60px;
    height: 103px;
    z-index: 10;
    margin-left: 372px;
    top: -63px;
}

.corner-right-top-purple {
    position: absolute;
    width: 60px;
    margin-left: 248px;
    top: -44px;
}

.image-with-text .corner-left-top-pink.eclat {
  position: absolute;
    z-index: 1;
    width: 60px;
    margin-left: -42px;
    top: -67px;
}

.product-form__submit.button:after{
  box-shadow:none!important;
}

.product-form__buttons{
  max-width:100%!important;
}

.link.underlined-linkk{
  font-size:12px;
}

*:focus-visible {
    outline: none;
    outline: 0px!important;
    outline-offset: 0!important;
    box-shadow: none!important;
}

.rte-ingredient img{
  width:24px;
}

.field__input, .customer .field input{
  padding:15px!important;
}

.contact__fields .field__input, .customer .field input, #ContactForm .field input{
  padding:2.2rem 1.5rem 0.8rem 2rem!important;
}

.form-quiz .customer .field input{
  padding:1.5rem!important;
}

.container-options > .option a:hover, .container-content a:hover{
  text-decoration:underline;
}

.customer button:hover {
    background: #fff;
    border:2px solid #D0C4E2;
    color: #D0C4E2;
}

.no-rotate{
  transform: none;
}

.banner__content .button--secondary:hover{
  background-color:#fff!important;
  color:#fccf9c!important;
  border:none!important;
}

.banner__content .button--secondary:hover:after{
  border:none!important;
}

.footer__list-social2 .list-social__item:nth-child(2){
  padding-left:18px;
}


.shopify-policy__title{
  margin-bottom:50px;
}

.shopify-policy__container {
    max-width: 99ch;
    margin-bottom: 150px;
}

.product-option .nobutton{
  padding: 12px 25px!important;
}
.product-option .button {
padding: 11px 16px!important;
    min-height: 0px;
    height: 36px;
    font-weight: 600;
}
.cart__footer>*+* {
    margin: auto!important;
}
.w20 {
    line-height: 1.4;
    font-size: 13px;
}

.multi-testimonials h3{
  font-size:17px;
}

body{
  letter-spacing:0;
  line-height:1.5;
}

.multicolumn-card__info h3{
  font-weight:600;
}

.button, .shopify-challenge__button, .customer button {
  letter-spacing:0!important;
    padding: 0px 4rem;
}

.rich-text__caption.subtitle.subtitle--small{
  font-style:italic;
}

.rating-count.caption {
    vertical-align: text-top;
}

/* menu */
.banner-home .container-right  p {
  color:white;
}
.list-menu__item {
  font-weight:600;
  
  color:#575756;
}
/*svg */
.header__icons svg {
      width: 24px;
}
.cart-count-bubble {
      bottom: 1.7rem;
    left: 3rem;

}
.margin5 {
  gap:5px;
}

.multicolumn .title,
.collection__title .title,
.rich-text__heading,
.rich-text-title {
  font-size: 32px;
  text-align: center;
  line-height: 36px;
  font-weight: 700;
      width: 100%;
}
.rich-text__heading.h2 {
  font-size:20px;
  line-height:26px;
}

h3.card__heading ,
.multi-featured h3,
.multi-column-title,
.products-row-title,

{
  font-size: 22px;
  line-height: 37px;
  font-weight: 600;
}

.multicolumn-column-title {
  font-size: 19px;
  line-height: 22px;
  font-weight: 600;
}


.products-legend,
.products-reviews-count {
  font-size: 14px;
  text-align: left;
  line-height: 18px;
  font-weight: 300;
}

.products-paragraph {
  font-size: 15px;
  text-align: left;
  line-height: 18px;
  font-weight: 300;
  
}
.card-information>.price,
.products-price
.multicolumn-featured-title{
  font-size: 19px;
  text-align: left;
  line-height: 22px;
  font-weight: 600;
 
}

.products-addtocart-btn{
  background-color: #C2C2DE;
  border-radius: 9px;
  border: 3px solid #C2C2DE;
  font-size: 19px;
  text-align: center;
  color: #FFFFFF;
  line-height: 22px;
}

.rich-text__text p,
.rich-text-paragraph,
.multicolumn-featured-paragraph{
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  text-align: center;
}
.rich-text__text p strong {
  font-weight:600;
}

.rich-text-btn{
  background-color: #FFFFFF;
  border-radius: 9px;
  border: 3px solid #575756;
  font-size: 19px;
  text-align: center;
  color: #575756;
  line-height: 22px;
}
.multi-testimonials-reviews .rte {
  padding:0px 2.5rem;
  
}
.multi-testimonials-reviews .title {
  padding-bottom:4rem;
  
}

.multi-testimonials .rte,
.rich-text-legend,
.testimonial-paragraph{
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  text-align: center;
}

.slider-title,
.newsletter-subtitle,
.faq-title, .collapsible-content__heading
{
  font-size: 26px;
  line-height: 24px;
  font-weight: 600;
  text-align: left;
}
.multi-testimonials h3,
.testimonial-name,
.collection .card .card__heading {
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  text-align: center;
}
.collection .card .card__heading {
  text-align:left;
    font-size: 22px; 
   line-height: 27px;
}
@media screen and (max-width: 649px) {
  .collection .card .card__heading {
      font-size: 16px !important; 
     line-height: 20px !important;
     text-align: center !important;
  }
}
.multi-testimonials 
.multicolumn-card__info {
 display: flex;
  row-gap:22px;
    flex-direction: column-reverse;
  text-align:center;
}




.footer-title{
  font-size: 26px;
  line-height: 24px;
  font-weight: 600;
}


.footer-links{
  text-decoration: underline;
  font-size: 19px;
  line-height: 50px;
  text-align: left;
  font-weight: 300;
}


.legend {
font-size:10px;

  
}

.programmeicons h3 {
  font-weight:bold;
}
.programmeicons .rte p

{
 font-size:16px;
  padding:0px 30px;
}
.programme_text2 h2 {
  font-size:20px;
  font-weight:500;
  
}
.programme_text2 p {
      font-size: 16px;
}
/* products */
.aunderline a {
  text-decoration:underline;
  color:#575756 !important;
}

.metafield-rich_text_field p {
  margin-bottom:10px;
}
.metafield-rich_text_field p  strong {
  font-weight:600;
}
@media  (min-width:750px){ 
.collection ul {
  display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
}

.collection li {
  width: 100% !important; max-width: 100% !important;
} 

}

.header__active-menu-item {
    color: #F7B378!important;
    text-decoration: none!important;
}

.collection  h2 {
  margin-bottom:60px;
}
.collection .price__regular {
  text-align: left;
    font-size: 18px;
    line-height: 22px;
  
}
.collection  .button--secondary:after {
  content:none;
}
.collection  .quick-add__submit {
 background:#D0C4E2;
  border-radius:30px;
  color:white;
  font-weight:bold;
}
.collection .card-information {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
@media screen and (max-width: 649px) {
  .metafield-rich_text_field p {
    margin-bottom:5px;
  }
  .multi-capsules ul li {
        margin-bottom:10px;
    margin-top:10px;
  }
  .collection .card-information {
  justify-content: flex-end;
    flex-direction: column;
    align-items: center;
  }

  
}
#Slide-template--17804308381991__featured_collection-2 .card__heading   {
  padding-right:26px;
  
}
.collection .card--standard>.card__content .card__information {
  padding-bottom:20px;
}
.rating-star:before {
  font-size: 23px;
}
.collection .card .card__heading {
    text-align: left;
    font-size: 22px;
  font-weight:500 !important;
    line-height: 28px;
}
.collection .card_description {
  font-size:14px;
     line-height: 18px;
}
@media screen and (max-width: 649px) {
  .collection .card_description, .card__information .legend{
    text-align: center;
  }
}
.collection .caption-large  {
  display:none;
}
.rating-star:before {
    -webkit-text-fill-color: #EFD1BF !important;
  letter-spacing:2px;
  font-size: 18px;
}
.collection .price  {

}
.collection .card--standard>.card__content .card__information {
    padding-left: 0;
    padding-right: 0;
    row-gap: 15px;
    display: grid;
}
.collection ul  {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 70px !important;
  row-gap:50px;  
}

@media screen and (max-width: 649px) {
  .collection ul{
    flex-wrap: wrap;
    column-gap: 10px !important;
  }
  .grid--2-col-tablet-down .grid__item{
    width: calc(49% - var(--grid-mobile-horizontal-spacing) / 2);
  }
}
.collection ul img, .collection .card__media , .collection .card .card__inner .card__media, .collection .card--standard .card__inner {
  border-radius:30px !important;
}
/* comment */



@media screen and (min-width: 990px) {
  .mb-10m {
  margin-bottom:4rem !important;
    
}
   .mb-5m {
  margin-bottom:2rem !important;
}
.titlemb-5m  p,  .titlemb-5m  h2 {
    padding-bottom:4rem !important;
  }
.comment .rich-text__blocks {
    max-width: 100%;
}
  }
.comment img {
  width:600px;
  margin:20px auto;
  border-radius:50px;
}
.comment p {font-size: 16px;
    line-height: 23px;  }
/* páginas boutique y lamarque*/
.text-black h2.banner__heading  {
  color:#575756;
  font-weight:bold;
  margin-bottom:50px;
}

.text-black .banner__text  {
  color:#575756;
  font-size:22px;
 line-height:28px;
    font-weight:400;
}

.banner-heading{
  font-size: 50px;
  line-height: 61px;
  font-weight:600;
  text-align:center;
}

.banner-subtitle,
{
  font-size: 15px;
  line-height: 18px;
  font-weight: 300;
  text-align:center;
}

.richtext-legend-italic{
  font-style: italic;
  font-size: 15px;
  line-height: 18px;
  font-weight:300;
  text-align:center;
}

.hero-slideshow-title{
    font-size: 50px;
  line-height: 61px;
  font-weight:600;
  text-align:left;
}


.hero-slideshow-subtitle{
  font-size: 30px;
  line-height: 36px;
  font-weight:300;
  text-align:left;
}


.lateam-title{
  font-size: 22px;
  line-height: 37px;
  text-align:center;
  font-weight: 600;
}

.lateam-paragraph{
  font-size: 19px;
  line-height: 22px;
  text-align:center;
  font-weight: 300;
}


/* multi-icons */
.multi-icons {
      margin-top: -20px;
}
.multi-icons svg {

    height: 64px;
    position: relative;
    display: block;
    margin: 20px auto;
}
.color-black fill, .color-black path, .color-black stroke {
  color:black;
     stroke:black;
}

/* multi-capsules */
.multi-capsules h3 {
  font-size:16px;
  font-weight:600;
  color:#575756;
 
}

.multi-capsules .info5 h3 {
  padding:0px !important;
}
.multi-capsules ul {
  margin-top:10px;
}
.multi-capsules br {
  margin-bottom:15px;
}
.multi-capsules ul li {
  margin-bottom:10px;
}
.multi-capsules ul li, 
.multi-capsules p {
   font-size:12px;

  color:#575756;
}
.multi-capsules h3 {
 text-align:center;
  margin-bottom:15px !important;
}
/* página contact*/



.contact-form-inputs{
  border-radius: 9px;
  border: solid 1px #E9C9CA;
  background: #FFFFFF;
  color: #575756;
  font-size: 15px;
  line-height: 18px;
  text-align: left;
}

.contact-form-checklist-font,
{
  font-size: 15px;
  line-height: 18px;
  font-weight: 300;
  text-align:left;
}

.contact-form-btn{
  font-size: 19px;
  line-height: 22px;
  background: #E9C9CA;
  text-align:center;
  border: 3px solid #E9C9CA;
  color: #575756;
  border-radius: 9px;  
  font-weight: 600;
  
  
}
.radios label {
  vertical-align: top;
    font-size: 13px;
}

.radios {
 
  
}
.radios input {
  margin-bottom:20px;
  width:20px;
  height:20px;
  
}

/* página FAQ*/

.accordion details[open]>summary .icon-carret2 {
   opacity:0;
}
.accordion details[open]>summary .icon-carret3 {
   opacity:1;
}
.semibold {
  font-weight:600;

}
summary .icon-carret3 {
    position: absolute;

right: -3px;
    top: 0px;
     opacity:0;
} 

.collapsible-content .accordion, .accordion  {
  border-top:0px !important;
  border-bottom:0px !important;
}
summary .icon-carret2 {
    position: absolute;

  right: 17px;
    top: 11px;
} 

.faq-headings
{
  font-size: 26px;
  line-height: 24px;
  font-weight: 600;
  text-align: left;
}

.faq-tabs-closed-background{
  background: #E9C9CAE0;
  border-radius: 16px;
  border: none;
  
}

.faq-tabs-open-background{
  background: #FFFFFF;
  border-radius: 16px;
  border: 1px solid #E9C9CA;
  
}

.faq-tabs-tittle,
.accordion__title{
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
 
}

.faq-content-text,
.accordion p {
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  text-align: left;
}

.accordion__content {
  margin-top:30px;
}
.container-comment img {
  border-radius:30px !important;
}

.accordion p > strong,  .accordion p b, {
 
  font-weight: 500 !important;

}
 .accordion p  a {
   text-decoration:underline;
 }
.accordion p {
   font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  margin-bottom:20px;
}







.multi-slider-product  .multicolumn-card.content-container {
  background:white !important;
  
}

/* Multi slider*/
.text-below {
  font-size:12px;
  padding-bottom:1rem;
}

.newsletter h2.h1 {
  font-weight:bold;
  
}
.newsletter p {
  font-size:16px;
  margin-top:10px;
}
.multi-slider .slider-mobile-gutter {
   max-width: 1000px;
    margin: 0 auto;
}
.multi-slider .multicolumn-card {
  border-radius:52px;
  max-width: 1000px;
    margin: 0 auto;
}
.multi-slider .multicolumn-card.content-container {
  display:flex;
  padding:15px 15px;
  background:#FDE9D8;
  column-gap:30px;
  text-align:left;
}
.multi-slider .multicolumn-card.content-container  > div:first-child {
  width:35%;
}
.multi-slider .multicolumn-card.content-container  > div:last-child {
  width:60%;
}
@media screen and (max-width: 749px) {
  .banner-home  .banner__content {
    min-height: 45rem !important;
    align-content: space-between;
  }
  .banner-home .banner__content .banner__box {
  height:70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .multi-slider {
    overflow:hidden;
    max-width:100%;
  }
.container-modal > div > div > div > div:nth-child(4){
      padding: 30px 30px 130px 30px!important;
}
  .multi-slider .multicolumn-card.content-container  > div:last-child {
    width:100%;
  }
  .multi-slider .multicolumn-card.content-container{
    flex-wrap: wrap;
  }
.header__icons {
    margin-right: 25px;
}
#Slider-template--17804308381991__featured_collection.collection-sliders, #Slider-template--17804308218151__d1729d12-e0e2-4aff-abd1-a485a8f5a0ae.collection-sliders{
  display:block!important;
}
}
.multi-slider .multicolumn-card.content-container h3 {
  font-size:23px;
  font-weight:600;
}

.banner-home .h0 {
  font-size:35px;
   line-height: 45px;
  font-weight:bold;
  margin-bottom:30px;
}
.slick-dots {
  display:none;
}
.desktop-hide {
    display:none !important;
  }
ul.desktop-hide {
    display:none !important;
  }
/* mobile */
@media screen and (max-width: 649px) {
.noslide {
  max-width:75%;
  margin:0 auto;
}
  body {
      overflow-x:hidden;
  }
.page-width.section-template--17804308939047__main-padding {
  padding-top:0px !important;
  padding-right:0px;
}
.reviews-slider .slick-dots {
    bottom: -30px;
display: block;
    left: 0px;
}
  
  .collection .card_description {
    font-size:12px;
    line-height:14px;
  }
  .collection-sliders {
    max-width:80%;
    margin:0 auto;
  }
  .collection-sliders .slick-dots {
    bottom: -30px;
display: block;
    left: 0px;
}
  ul.desktop-hide {
    display:block !important;
  }
  .multicolumn-list-svg .slick-dots {
    bottom: -10px;

    left: 0px;
}
  .multi-featured .slick-dots {
    bottom: -5px;

    left: 0px;
}
  
  
  .carrousel .a-left,   .carrousel .a-right {
    display:none !important;
  }
  .carrousel  .slick-dots {
      display:block;
    left: 0px;
    bottom: -75px;
    
}
.banner-home .banner__buttons {
  margin-top:0px;
}
  .banner-home .banner__text.body,  .banner-home .container-right  {
   display:none; 
  }
  .banner-home . banner__content {
    display: flex;
    align-items: flex-start !important;
  }
.container-routine  h2 ,
  .one-column h3 {
     font-size:18px !important;
     line-height: 20px !important;
 
    
  }
  .container-routine p,
  .one-column p {
        font-size: 12px !important;
 
  }
  .collection-result {
    margin-top:40px !important;
  }

 .waves2a.isolate .svg-waves {
    top: -15px !important;
}
  .banner-home .h0 {
    font-size:22px;
     line-height: 26px;
    margin-bottom:10px; 
  }
  
  .container-right p {
  margin-top: 30px;
    padding-bottom: 0px;
  }
  .product__title h1,
  .multicolumn .title, .collection__title .title, .rich-text__heading, .rich-text-title 
  {
     font-size:22px;
     line-height: 26px;
  }
  .product__title h1 {
    font-size:20px !important;
     line-height: 28px  !important;
  }
    .newsletter h2.h1{
     font-size:22px !important;
     line-height: 26px !important;
  }
  .newsletter h3 {
      font-size:16px !important;
     line-height: 20px !important;
    margin:10px 0px !important;
  }
  .collection h2 {
    margin-bottom:30px;
        padding: 0px 2rem;

    margin-top:30px;
  }
  .multi-icons .slider-buttons {
    margin-top:15px;
  }
 .banner-home .banner__text.body span, .banner-home .container-right p,
  .rich-text__text p, .rich-text-paragraph, .multicolumn-featured-paragraph ,
  .multicolumn-list h3, .multicolumn-list p,
  .accordion p,
  .ft, .product__description p
  {
        font-size: 14px !important;
    line-height: 18px!important;
  }

  .newsletter .newsletter__subheading {
    margin-bottom:10px !important;
  }
    .newsletter p
  {
        font-size: 14px !important;
    line-height: 18px !important;
  }
  
  .rich-text__caption.subtitle.subtitle--small {
            font-size: 12px;
    line-height: 15px;
  }
  .multi-slider .multicolumn-card.content-container h3 {
     font-size:22px;
     line-height: 25px;
  }
  .text-below {
        font-size: 10px;
    line-height: 13px;
  }
  .background-none .multicolumn-list:not(.slider) .center .multicolumn-card__info {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .multi-slider .slick-slide .button {
    padding: 0px;
  }
  .titlemb-5m h2.title {
    margin-bottom: 3rem;
    
  }
  .section-template--17804308381991__6e118b26-48b9-4c18-8f3f-bc53dd963a4a-padding  {
    padding-top:0px !important;
  }
  .multi-slider.multicolumn  h2.title {
  margin-bottom: 6rem;
    
  }

  footer .footer-block__heading {
    font-size:20px !important;
      line-height:25px;
  }

  /* collection slider */
.collection .slider--tablet.product-grid {
  gap: 30px !important;
  
}
  .collection .slider--tablet.product-grid li  {
  width:70% !important;
  
}
  .collection .price .price-item {
        font-size: 15px;
  }
  .collection .quick-add__submit {
        font-size: 12px;
  }
  .comment .rich-text__image {
    width: 60%;
    margin: 0 auto;
    margin-top: 40px !important;
    margin-bottom:30px;
}
  
/* Container modal */
.multi-capsules .container-modal {
   
    position: relative;
    height: 60vh; 
    overflow: scroll;
    margin: 0px 20px !important;
}
/* product container modal */
  .product__info-wrapper .container-modal {
   

}
/*Boutique*/
  .h1.mb-10b {
        margin-bottom: 20px !important;
  }
  .section-template--17804308218151__4afd5d1d-8bfa-4ef7-9662-972ba5a2303a-padding {
        padding-bottom: 40px !important; 
  }
#Slider-template--17804308218151__d1729d12-e0e2-4aff-abd1-a485a8f5a0ae {
  width:75%;
  margin:0 auto !important;
}

/*.etapas*/ 
  .full-width.mb-20 {
       padding-bottom: 10px !important;
  }
 .div-with-svg p{
    font-size:10px !important;
  }
  .etapas {
        transform: scale(0.8);
  }

  #prenom {
    border-radius: 30px;
    max-width: 300px;
    width: 80%;
    height: 30px;
    font-size: 12px;
  }

  /* cart*/ 
  .container-title h1 {
    font-size:12px !important; 
    margin:0.5rem;
  }
  .cart-item__image-container {
    max-width:75%; 
    margin:0 auto !important;
  }
  cart-remove-button {
    position: absolute;
    right: 0px;
    margin-top
  }
}

.banner-home .media > img {
   object-position:bottom; }
.banner-home .media.mobile-only > img{
  object-position:center;
}
@media screen and (min-width: 750px) {

  .multi-capsules .page-width {
width: 100%;
    max-width: 100%;
    
  }

  
.banner-home .banner--desktop-transparent .banner__box  {
  padding-top:0px;
}
}
.banner-home .banner__content.banner__content--middle-left {
  padding-top:0px !important;
}
.banner-home .banner__text.body span, .banner-home .container-right p
{
font-size: 16px;
    line-height: 23px;
    display: block;
    color: white;
  margin-bottom:10px;
}

.banner-home .button {
    font-weight:bold;
}

.mb-10b {
  margin-bottom:50px !important;
}
.bg_contact {
  background-image:url(https://cdn.shopify.com/s/files/1/0716/5509/6615/files/hilo-bg-pages.jpg?v=1681688515);
background-position: left top;
    background-size: 100%;
  background-repeat:no-repeat;
}

.small-hide.slider-buttons{
  display:none;
}
@media screen and (max-width: 649px){
.small-hide.slider-buttons{
  display:block;
}
  .bg_contact {
  background-size: auto 100%;
  }

}
.bg_contact  > div {
  background: transparent !important;
}
.bg_contact  .bg_subtitle p {
  font-size:14px;
  
}
 .bg_subtitle p {
  font-size:14px;
  
}

/*home collection card image hover*/

.multicolumn-card__image-hover {
    opacity: 0;
 object-fit: contain !important; 

} 
.multi-capsules .media.media--transparent.media--adapt:hover img.multicolumn-card__image {
  opacity:0;
}
.multi-capsules .media.media--transparent.media--adapt:hover img.multicolumn-card__image-hover {
  opacity:1;

}

/*stars_size */
.stars_size .multicolumn-card__image-wrapper {
  margin:0px auto !important;
  
}
.stars_size  img:hover {
  opacity:1 !important;
}


/* bg1 */
.accordion details[open] {
  border:1px solid  #F8C8D3;
    border-radius: 30px;
      padding: 10px 20px !important;
  margin-bottom:30px;
}
.accordion details {

  margin-bottom:30px;
}

.accordion details[open] summary {
  background:none !important;
   padding:10px 0px !important;
}
.accordion__content {
  padding-left:0px !important;
}
.accordion details summary {
      background: #F8C8D3;
    color: #575756;
    border-radius: 30px;
  padding: 10px 20px!important;

}




/*lamarque_text1*/
@media (min-width:750px) {
  .image-with-text__grid--reverse .image-with-text__content {
    padding-left:0px;
     padding-right:160px;
  }
}
.lamarque_text1 p, .lamarque_text2 p {
  font-size:16px;
  
}

.lamarque_text1 h2, .lamarque_text2 h2 {
      font-size: 30px;
  margin-bottom:30px;
    line-height: 36px;
    font-weight: 600;
}
/*Team*/
.svg-fullwidth h2 {
   margin-bottom:30px;
     margin-top:10px;
}
.images-team img {

}
.images-team h2.title {
  margin-bottom:30px;
}
.images-team  h3 {
  color:#575756;
  font-weight:500;
}
.images-team   h4 {
  color:#575756;
  font-weight:500;
  margin-top:20px !important;
  margin-bottom:20px;
}
.images-team    p {

   line-height:18px ;
      font-size: 14px;
    padding: 0px 60px;
}

.images-team  .multicolumn-card__image-wrapper{
    width: 150px;
    margin: 0 auto !important;
}
.border-color1 .media--circle {
  border:5px solid #D0C4E2;
  width:170px;
  height:170px;
}
.border-color2  .media--circle{
  border:5px solid #FFE695;
    width:170px;
  height:170px;
}
.border-color3 .media--circle{
  border:5px solid #C9E1B7;
    width:170px;
  height:170px;
}
.border-color4 .media--circle {
  border:5px solid #F8C8D3;
    width:170px;
  height:170px;
}
/*
Montserrat, SemiBold - 50px
Familia de fuentes: Montserrat
Grosor de fuente: SemiBold
Tamaño de fuente: 50px
Color: #575756
Espaciado entre caracteres: 0
Interlineado: 61

Montserrat, Regular - 19px
Regular - 19px, #575756

Montserrat, Regular - 19px
Regular - 19px, #575756

Montserrat, SemiBold - 26px
SemiBold - 26px, #575756

Montserrat, Bold - 19px
Bold - 19px, #575756

Montserrat, SemiBold - 19px
SemiBold - 19px, #575756

Montserrat, SemiBold - 30px
SemiBold - 30px, #575756

Montserrat, Italic - 15px
Italic - 15px, #575756

Montserrat, Regular - 15px
Regular - 15px, #575756

Montserrat, Regular - 14px
Regular - 14px, #575756

Montserrat, SemiBold - 22px
SemiBold - 22px, #575756

Montserrat, Bold - 19px
Bold - 19px, #FFFFFF

Montserrat, SemiBold - 19px
SemiBold - 19px, #EFD1BF

*/

/* 404 */
.custom404 {
  font-size:70px;
}
.custom404 .custom4 {
  color:#CDE4CA;
}
.custom404 .custom40 {
  color:#F5DEA3;
}
.custom404 .custom404 {
  color:#B7DAF3;
}
.icon-404 {
  color:#575756;
  font-size:50px;

}
.btn-circle-404 a {
     background: #FBD1AD !important;
    color: #575756 !important;
    border-radius: 30px;
    font-weight: 600;
  border:0px;
}
.btn-circle-404 a:before, .btn-circle-404 a:after {
  content:none;
}
@media screen and (min-width: 990px) {
.rich-text__blocks {
    max-width: 98rem !important;
}
  }

/*news*/
.newsletter  h2.h1 {
      font-size: 30px;
 
    line-height: 36px;
    font-weight: 700;

}
.newsletter   p {
     padding-bottom:1rem;
}
.newsletter h3 {
  padding-top:1rem;
   padding-bottom:1rem;
    font-size: 22px;
    margin-top:30px;
   margin-bottom:30px;
    line-height: 26px;
    font-weight: 500;
}
.newsletter .newsletter__subheading {
  width:100%;
  max-width:100%;
  margin-bottom:30px;

}
.newsletter  p {
      font-size: 16px;
    line-height: 19px;
    font-weight:400;
    text-align: center;
}
.newsletter  .newsletter-form__field-wrapper .field {
  flex-direction: column;
  border:none;
  box-shadow:none;
   
}
.newsletter  .newsletter-form__field-wrapper .field:before,
.newsletter  .newsletter-form__field-wrapper .field:after {
  content:none;
}
.newsletter  .newsletter-form__field-wrapper .field  input {
   border-radius:30px;
}
.newsletter  .newsletter-form__button {
  border:2px solid #575756;
  border-radius:30px;
  margin:0 auto;
  margin-top:30px;
  padding:4px 8px;
  width:200px;
  color:#575756;
  font-weight:bold;
  position: relative;
}

/*footer*/
.newsletter-form__field-wrapper .field {
  flex-direction: column;
}
footer .newsletter-form__button {
  border:2px solid #575756;
  border-radius:30px;
  margin-top:10px;
  padding:4px 8px;
  width:150px;
  color:#575756;
  font-weight:bold;
  position: relative;
}
.footer__content-top {
  padding:0px 3rem;
}
.multi-logos .slick-prev, .multi-logos .slick-next {

}
.multi-logos .media img {
    width: 120px !important;
    object-fit: contain;
}
.multi-logos h2{
  margin-bottom:20px !important;
}
.paiment svg {
  margin-bottom:40px;
}  

.paiment:last-child svg  {
  margin-bottom:20px;
  height:56px;
}
.paiment h3  {
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    text-align: center;
}
.paiment p

{
  font-size:14px;
}
footer .footer-block__details-content .list-menu__item--link, footer p {
  font-size:14px;
  font-weight:500;
  line-height:16px;
text-align:left;
  padding-bottom:0px;

}
.field__input input {
      height: 4rem;
}
.footer a[href="/pages/nous-rejoindre"] {
  margin-bottom:30px;
}
.footer a {
  text-decoration:underline;
  color:#575756;
}
footer .footer-block__heading {
  text-align:left;
  font-weight:bold;
  font-size:22px;
      margin-bottom: 2.5rem;
}
.footer-block--newsletter {
  margin-top:0px !important;
    text-align:left;
}
.footer__list-social  {
  margin-bottom:20px;
}
footer .list-social__item svg {
  height:3rem;
  width:3rem;
}
.footer-block  .list-social {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
footer .footer-block {
  position:relative;
}
footer .footer__copyright, footer .imagen-footerlogo {
    text-align: left;
    position: absolute;
    bottom: 0px;
}
footer .text_container, footer .link_list_container{
  margin-left: 0;
}
@media screen and (max-width: 749px) {
  #ContactForm .radios{
    padding-left:0px;
  }

  .container.flex{
    display:block!important;
  }

  .row-ingredientes{
    display:block!important;
  }

  .product__description ul{
    display:block!important;
  }

  .product__info-wrapper .ft2{
    display:block;
    text-align:left;
  }

  .cart__footer .items-cart{
    margin-bottom:20px!important;
  }

.cart__footer {
    padding: 20px 0;
}

  .description-cart{
    padding-bottom:20px;
  }

  .cart__items{
    padding-bottom:0px;
  }

  .cart-item__image{
    border-radius:20px!important;
  }

.cart-item__details>*{
    max-width:100%!important;
  }

  .cart-items td, .cart-items th, .cart-item__image-container{
    display:block!important;
  }

  .container-step::after{
    top:26px!important;
    width:98px!important;
  }

  .image-with-text__content{
    padding-left:0px!important;
    padding-right:0px!important;
  }

  #progressbar{
    width:100%!important;
  }
  
  .step6 .columns5{
      display: block!important; 
  }

.cart-item__name {
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: 18px;
    font-weight: 500;
}

  .product__info-wrapper .ft2 div:last-child{
    text-align:left;
  }

  
  .container-content.w-3\/4{
    width: 100%;
    margin-top: 20px;
    padding: 15px;
  }

  .w-1\/4{
    width:100%;
  }

  #ContactForm .radios label{
    line-height:1;
  }
  footer .footer__copyright, footer .imagen-footerlogo{
  position: relative;
}
}
footer .newsletter-form__field-wrapper .field__input {
  margin-top:10px;
  border-radius:30px;
  height:4rem;
}
.footer__content-bottom {
  display:none;
}
.link_list_container {
  width:250px;
  margin:0 auto;
}
.text_container {
  width:250px;
      margin-left: auto;
 margin-right:0px;
}
footer .field:after {
  content:none;
}
footer .copyright__content,
.copyright__content a {
  font-size:14px;
}

footer .newsletter-form {
  max-width:250px;
  margin-left:0px;
  margin-top:15px;
}
footer .field label { top: 20px; 
                    font-size:14px;}
footer .newsletter-form__button {  top: 5px;  }

 .no-desktop {
    display:none;
  }

/* pdp */
.product__title h1 {
  font-size:28px;
    font-weight:bold;
}
.ft, .product__description p  {
  font-size:16px;
  line-height:20px;
}
.product__info-container .shopify-app-block {
   margin-top:10px;
 margin-right: 15px;
 }

.spr-stars svg {
  width:20px !important;
  height:20px !important;
  margin-right:2px;
}
.spr-stars svg:last-child {
 margin-right:13px;

}
.product__description p a {
  text-decoration:underline;
}
.product__description  {
 margin-bottom:4rem !important;
}
.container-modal > button.button:before, .container-modal > button.button:after {
  content:none !important;
}
.container-modal > button.button {
  margin-bottom:20px;
  background:#D0C4E2;
  border-radius:30px;
      width: 100%;
  font-weight:600;
}
.rte li {
  margin-bottom: 15px;
}
.product__text {
  font-size:12px;
}
.link.underlined-link {
    text-decoration:none !important;
}
.link.underlined-link:after  {
  content:" avis";
  
}
.link.underlined-link, .spr-starrating {
  font-size:10px !important;
  color:#575756;
}
.ft2  {
    display:grid;
  grid-template-columns:1fr 1fr;
}
.ft2 div {
  font-size:12px;
}
.spr-stars span {
  display:flex;
  font-size:10px;
  
}
.spr-starrating {
   font-size:10px;
}
.spr-summary-starrating {
  align-items: center;
}
.spr-stars path {
    fill: #EFD1BF !important;
}
.product__description ul {
  display:grid;
    font-size:14px;
  padding-left:0px;
  margin:20px 0px;
  grid-template-columns:1fr 1fr;
}


.rte ul {
  padding-left:0px !important;
}

.titlesbold h2 {
  font-weight:500;
  margin-top:3rem;
}
.titlesbold a {
  text-decoration:underline !important ;
}

.header__menu-item {
      padding: 1.2rem 2rem;
}




.size-a a {
  font-size:14px;
  color:#575756;
}



@media screen and (min-width: 750px) {
  .header {
    max-width:100%;
    padding:0px 4rem;
  }
  .header__inline-menu {
    display: flex;
    justify-content: center;
}
.product__media-wrapper  .product__media img {
    border-radius:30px;
  }

  /* new*/


  .carousel-cell {
  background: #8C8;
  counter-increment: carousel-cell;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  
  /* cell number */
  &:before {
    content: counter(carousel-cell);
  }
}

.carousel-main {
  .carousel-cell{
    width: 100%;
    height: 360px;
    font-size: 5rem;
  }
}

.thumbnail-slider {
  width: 300px;
  transform: rotate(90deg) translate(30px, -100%);
  transform-origin: left top;
  

  }
  .header-wrapper--border-bottom {
    border-bottom:none;
  }
.thumbnail-slider {
      position: absolute;
    top: -35px;
  left: 0px;
  width: 600px;
  }
.thumbnail-slider button {
  transform: rotate(-90deg);
}
.thumbnail-slider li img2 {
    transform: rotate(-90deg);
    width: 80px;
    height: 80px;
    cursor: pointer;
    margin-right: 1rem;
    font-size: 1.4rem;
    
    &:before {
      transform: rotate(-90deg);
    }
   
    /* selected cell */
    &.is-nav-selected {
      background: #ED2;
    }
  }
  
  .flickity-prev-next-button {
    width: 40px;
    height: 40px;
    background: transparent;

    &.previous{
      left: -40px;
    }
    &.next{
      right: -40px;
    }
  }
}
.product 
slider-component {    width: 80%;
    margin-right: 0px;
    margin-left: auto;
      width: 80%;
    margin-right: 0px;
    margin-left: auto;
}

/* bg_pink */
.bg_pink, #shopify-section-template--18831072788775__1e473254-c1b2-405f-8ed6-a20bc3d453ec  {
  background:#FBDAE2 !important;
  
}
.bg_pink .image-with-text__content, .bg_pink .image-with-text__media  {
  background:transparent !important;
}
 .bg_pink .image-with-text__media  img {
   border-radius:100%;
       height: 500px !important;
    width: 500px !important;
 }
.product__media-toggle:after {
content:none !important; 
}
.global-media-settings {
  border:none;
}
  
/*
.product--thumbnail_slider .thumbnail-slider  img {
width: 100px !important;
    height: 100px;
    transform:rotate(-90deg);

}
  .thumbnail-list.slider--tablet-up .thumbnail-list__item.slider__slide {


}
  .thumbnail-slider .thumbnail-list.slider--tablet-up button {

  }
  .thumbnail-list__item:before {
    content:none !important;
  }
  .thumbnail-list.slider--tablet-up .thumbnail-list__item.slider__slide img {
    width: 100%;
  
  }
  
.product--thumbnail_slider .product__media-gallery   {
        display: flex !important;
    flex-direction: row-reverse !important;
  }

  slider-component {
    width:1200px !important;
    max-width:100%;
  }
  .thumbnail-slider  {
     width:100% !important;
  }

  .thumbnail-slider .thumbnail-list.slider--tablet-up {
 
}  /*
  .thumbnail-list.slider--tablet-up .thumbnail-list__item.slider__slide {
    height: calc(20% - 0.8rem) !important; 
    width: 75px !important; 
}
*/

  
  }








/* mobile */

@media (max-width:749px) {
/* Home */
  .banner-home  .banner__content {
    display:flex;
        flex-direction: column;
    
  }
  .banner-home .h0 {
    font-size:20px;
    line-height:24px;
  }
.banner-home .banner__text.body span, .banner-home .container-right p  {
font-size: 10px;
    line-height: 14px;
  }
 .banner-home .container-right p  {    

                                   }
  .banner-home .banner__buttons  .button {
    font-size:12px !important;
    
  }
.banner-home .imagenproduct {
  padding-bottom:0px;
  margin-bottom:20px;
}
  .banner-home .container-right {
    padding-bottom:30px;
      margin-bottom:0px;
  }
  .imageicon {
    position: absolute;
    bottom: 50px;
    left: 50px;
    width: 20px;
}
  .banner-home svg {
    bottom:-40px !important;
  }
  .collection ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 0px !important;
}

  .multi-slider .multicolumn-card.content-container {
    flex-direction: column;
  }
  .multi-slider .multicolumn-card.content-container > div:first-child {
    width:80%;
  }
  .multi-slider .multicolumn-card.content-container > div:last-child {
    width:100%;
  }
  .multi-slider .slick-slide .button {
    padding: 12px 14px;
    text-align: center;
    font-size: 14px;
    width: 100%;
    
  }
  .multi-slider .slick-slide .rte-ingredient {
    margin-top:10px;
  }
    .multi-slider .slick-slide .rte p ,  .multi-slider .multicolumn-card__info p{
   font-size:12px;
line-height:14px;
  }
  header-drawer .list-social__item svg {
    height:30px;
  }
  .menu-drawer .list-social__link {
    padding: 1.3rem 0.25rem;
}
 .multicolumn .title, .collection__title .title, .rich-text__heading, .rich-text-title {
   font-size:22px;
 }
.collection li {
        padding-right:20px !important;
  }
.rich-text__text p, .rich-text-paragraph, .multicolumn-featured-paragraph {
  font-size:14px;
  line-height: 17px;
}
/* .imagen-footerlogo */
  .no-mobile {
    display:none;
  }
  .no-desktop {
    display:block;
  }
  footer .footer__copyright, footer .imagen-footerlogo {
    position:relative !important;
  }
  footer .footer-block__heading {
    font-size:16px;
  }
  footer .footer-block__details-content .list-menu__item--link, footer p {
    font-size:12px;
  }
  .footer__list-social.list-social {
    justify-content: start !important;
}
}


@media (max-width:989px){
.multi-slider .multicolumn-card.content-container > div:first-child{
  width:100%;
}

.link_list_container, .text_container{
  width:100%;
}

.footer__list-social.list-social{
  justify-content:left;
}

.multi-slider .slick-slide .button{
  width:100%;
  text-align:center;
}

  .modal{
    width:100%!important;
  }

.menu-drawer__account svg {
    margin-right: 17px;
}

.product slider-component{
  width:100%;
}

.image-faq-image{
  margin:auto;
}

.container-modal .container-columns{
  display:block;
}

.container-modal .column1-container, .column2 {
    margin-top: 30px;
}

.container-modal .container-columns.flex {
    padding-left: 30px;
    padding-right: 30px;
}

.container-cart {
    display: block!important;
    width: 100%!important;
}

.container-cart > cart-items {
    padding-left: 30px!important;;
    padding-right: 30px!important;;
    width: 100%!important;;
}

.cart-item {
    display:block!important;
}

.cart-item__image {
    max-width: 100%!important;
  width:100%!important; 
}

.title-wrapper-with-link {
    text-align: center!important;;
    display: block!important;;
}

.title--primary {
    margin: 1.5rem 0;
}

.product-option .button, .product-option .nobutton{
  display:block;
  width:100%;
  margin-left:auto!important;
  margin-right:auto!important;
  margin-top:20px;
  margin-bottom:20px;
}

  

.product-option{
  text-align:center;
}

.container-cart > div {
    width: 100%!important;;
    padding-left: 30px!important;;
    padding-right: 30px!important;;
}
}

/* mobile estandar */
/*

Titulos:    font-size:24px;     line-height: 28px;


*/

