/*.title-wrapper--no-top-margin>.title ,
h2.rich-text__heading.rte,


.multi-columns-titulo1,
.rich-text-titulo1 {
  text-align: center;
  font-size:30px;
  font-weight:700;
letter-spacing: 0px;
color: #575756;
opacity: 1;
}

.multi-columns-texto,
.rich-text-texto {
  font-size:19px;
  line-height:22px;
  text-align: center;
}


.multi-columns-btn,
.rich-text-btn {
    font-size:19px;
  line-height:22px;
    text-align: center;
}

*/
/* settings.customcss 
Estilos: 
Multi Column Classic  multi-classic
Rich Text Classic   rich-classic
  Multi Column char  multi-char
Multi Column Featured  multi-featured
Multi Column Slider multi-slider
Multi Column testimonials  multi-testimonials
section newsletter section-news
*/

/* menu */
.banner-home .container-right  p {
  color:white;
}
.list-menu__item {
  font-weight:600;
  
  color:#575756;
}
/*svg */
.header__icons svg {
      width: 24px;
}
.cart-count-bubble {
      bottom: 1.7rem;
    left: 3rem;

}
.margin5 {
  gap:5px;
}

.multicolumn .title,
.collection__title .title,
.rich-text__heading,
.rich-text-title {
  font-size: 30px;
  text-align: center;
  line-height: 36px;
  font-weight: 600;
      width: 100%;
}


h3.card__heading ,
.multi-featured h3,
.multi-column-title,
.products-row-title,

{
  font-size: 22px;
  line-height: 37px;
  font-weight: 600;
}

.multicolumn-column-title {
  font-size: 19px;
  line-height: 22px;
  font-weight: 600;
}


.products-legend,
.products-reviews-count {
  font-size: 14px;
  text-align: left;
  line-height: 18px;
  font-weight: 300;
}

.products-paragraph {
  font-size: 15px;
  text-align: left;
  line-height: 18px;
  font-weight: 300;
  
}
.card-information>.price,
.products-price
.multicolumn-featured-title{
  font-size: 19px;
  text-align: left;
  line-height: 22px;
  font-weight: 600;
 
}

.products-addtocart-btn{
  background-color: #C2C2DE;
  border-radius: 9px;
  border: 3px solid #C2C2DE;
  font-size: 19px;
  text-align: center;
  color: #FFFFFF;
  line-height: 22px;
}

.rich-text__text p,
.rich-text-paragraph,
.multicolumn-featured-paragraph{
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  text-align: center;
}
.rich-text__text p strong {
  font-weight:600;
}

.rich-text-btn{
  background-color: #FFFFFF;
  border-radius: 9px;
  border: 3px solid #575756;
  font-size: 19px;
  text-align: center;
  color: #575756;
  line-height: 22px;
}

.multi-testimonials .rte,
.rich-text-legend,
.testimonial-paragraph{
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  text-align: center;
}

.slider-title,
.newsletter-subtitle,
.faq-title, .collapsible-content__heading
{
  font-size: 26px;
  line-height: 24px;
  font-weight: 600;
  text-align: left;
}
.multi-testimonials h3,
.testimonial-name,
.collection .card .card__heading {
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  text-align: center;
}
.collection .card .card__heading {
  text-align:left;
    font-size: 22px; 
   line-height: 27px;
}
.multi-testimonials 
.multicolumn-card__info {
 display: flex;
  row-gap:22px;
    flex-direction: column-reverse;
  text-align:center;
}




.footer-title{
  font-size: 26px;
  line-height: 24px;
  font-weight: 600;
}


.footer-links{
  text-decoration: underline;
  font-size: 19px;
  line-height: 50px;
  text-align: left;
  font-weight: 300;
}


.legend {
font-size:10px;

  
}
/* products */
.collection  h2 {
  margin-bottom:60px;
}
.collection .price__regular {
  text-align: left;
    font-size: 18px;
    line-height: 22px;
  
}
.collection  .button--secondary:after {
  content:none;
}
.collection  .quick-add__submit {
 background:#D0C4E2;
  border-radius:30px;
  color:white;
}
#Slide-template--17804308381991__featured_collection-2 .card__heading   {
  padding-right:20px;
  
}
.collection .card .card__heading {
    text-align: left;
    font-size: 22px;
    line-height: 27px;
}
.collection .card--standard>.card__content .card__information {
    padding-left: 0;
    padding-right: 0;
    row-gap: 15px;
    display: grid;
}
.collection ul  {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 70px !important;
  
  
}
.collection ul img, .collection .card__media , .collection .card .card__inner .card__media, .collection .card--standard .card__inner {
  border-radius:30px !important;
}
/* comment */
@media screen and (min-width: 990px) {
.comment .rich-text__blocks {
    max-width: 100%;
}
  }
.comment img {
  width:600px;
  margin:20px auto;
}
.comment p {font-size: 16px;
    line-height: 23px;  }
/* p치ginas boutique y lamarque*/
.text-black h2.banner__heading  {
  color:#575756;
  font-weight:bold;
  margin-bottom:50px;
}

.text-black .banner__text  {
  color:#575756;
  font-size:22px;
 line-height:28px;
    font-weight:500;
}

.banner-heading{
  font-size: 50px;
  line-height: 61px;
  font-weight:600;
  text-align:center;
}

.banner-subtitle,
{
  font-size: 15px;
  line-height: 18px;
  font-weight: 300;
  text-align:center;
}

.richtext-legend-italic{
  font-style: italic;
  font-size: 15px;
  line-height: 18px;
  font-weight:300;
  text-align:center;
}

.hero-slideshow-title{
    font-size: 50px;
  line-height: 61px;
  font-weight:600;
  text-align:left;
}


.hero-slideshow-subtitle{
  font-size: 30px;
  line-height: 36px;
  font-weight:300;
  text-align:left;
}


.lateam-title{
  font-size: 22px;
  line-height: 37px;
  text-align:center;
  font-weight: 600;
}

.lateam-paragraph{
  font-size: 19px;
  line-height: 22px;
  text-align:center;
  font-weight: 300;
}


/* multi-icons */
.multi-icons {
      margin-top: -20px;
}
.multi-icons svg {

    height: 64px;
    position: relative;
    display: block;
    margin: 20px auto;
}
.color-black fill, .color-black path, .color-black stroke {
  color:black;
     stroke:black;
}

/* multi-capsules */
.multi-capsules h3 {
  font-size:16px;
  font-weight:bold;
  color:#575756;
  padding:0px 15px !important;
}
.multi-capsules .info5 h3 {
  padding:0px !important;
}
.multi-capsules p {
   font-size:12px;

  color:#575756;
}
/* p치gina contact*/



.contact-form-inputs{
  border-radius: 9px;
  border: solid 1px #E9C9CA;
  background: #FFFFFF;
  color: #575756;
  font-size: 15px;
  line-height: 18px;
  text-align: left;
}

.contact-form-checklist-font,
{
  font-size: 15px;
  line-height: 18px;
  font-weight: 300;
  text-align:left;
}

.contact-form-btn{
  font-size: 19px;
  line-height: 22px;
  background: #E9C9CA;
  text-align:center;
  border: 3px solid #E9C9CA;
  color: #575756;
  border-radius: 9px;  
  font-weight: 600;
}



/* p치gina FAQ*/

.faq-headings
{
  font-size: 26px;
  line-height: 24px;
  font-weight: 600;
  text-align: left;
}

.faq-tabs-closed-background{
  background: #E9C9CAE0;
  border-radius: 16px;
  border: none;
  
}

.faq-tabs-open-background{
  background: #FFFFFF;
  border-radius: 16px;
  border: 1px solid #E9C9CA;
  
}

.faq-tabs-tittle,
.accordion__title{
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
 
}

.faq-content-text,
.accordion p {
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  text-align: left;
}









/* Multi slider*/
.multi-slider .multicolumn-card.content-container {
  display:flex;
  padding:15px 15px;
  background:#EFD1BF;
  column-gap:30px;
  text-align:left;
}
.multi-slider .multicolumn-card.content-container  > div:first-child {
  width:30%;
}
.multi-slider .multicolumn-card.content-container  > div:last-child {
  width:65%;
}


.banner-home .h0 {
  font-size:35px;
   line-height: 45px;
  font-weight:bold;
  margin-bottom:30px;
  
}
.banner-home .media > img {
   object-position:bottom; }
@media screen and (min-width: 750px) {
.banner-home .banner--desktop-transparent .banner__box  {
  padding-top:0px;
}
}
.banner-home .banner__content.banner__content--middle-left {
  padding-top:0px !important;
}
.banner-home .banner__text.body span, .banner-home .container-right p
{
font-size: 16px;
    line-height: 23px;
    display: block;
    color: white;
  margin-bottom:10px;
}

.banner-home .button {
    font-weight:bold;
}
.banner-home .button::after {
  border: 1px solid #FFFFFF;
border-radius: 33px;
}
.mb-10b {
  margin-bottom:50px !important;
}
.bg_contact {
  background-image:url(https://cdn.shopify.com/s/files/1/0716/5509/6615/files/Photo_bandeau_accueil_100e7a3b-8b88-431f-991a-da3104999a70.png?v=1679352497);
background-position: left bottom;
    background-size: 100%;
}
.bg_contact  > div {
  background: transparent !important;
}
.bg_contact  .bg_subtitle p {
  font-size:14px;
  
}
 .bg_subtitle p {
  font-size:14px;
  
}

/*home collection card image hover*/

.multicolumn-card__image-hover {
    opacity: 0;
 object-fit: contain !important; 

} 
.media.media--transparent.media--adapt:hover img.multicolumn-card__image {
  opacity:0;
}
.media.media--transparent.media--adapt:hover img.multicolumn-card__image-hover {
  opacity:1;

}

/*stars_size */
.stars_size .multicolumn-card__image-wrapper {
  margin:0px auto !important;
  
}
.stars_size  img:hover {
  opacity:1 !important;
}


/* bg1 */
.accordion details[open] {
  border:1px solid  #F8C8D3;
    border-radius: 30px;
      padding: 10px 20px !important;
  margin-bottom:30px;
}
.accordion details {

  margin-bottom:30px;
}
.accordion details[open] summary {
  background:none !important;
    padding: 10px 10px !important;
}
.accordion summary {
      background: #F8C8D3;
    color: #575756;
    border-radius: 30px;
    padding: 10px 20px !important
}



/*Team*/
.images-team img {

}

.images-team   h3 {
  color:#575756;
  font-weight:600;
}
.images-team   h4 {
  color:#575756;
  font-weight:600;
  margin-top:20px !important;
  margin-bottom:20px;
}
.images-team    p {
  font-size:15px ;
   line-height:18px ;
}
.images-team  .multicolumn-card__image-wrapper{
    width: 150px;
    margin: 0 auto !important;
}
.border-color1 .media--circle {
  border:5px solid #FBD1AD;
}
.border-color2  .media--circle{
  border:5px solid #B7DAF3;
}
.border-color3 .media--circle{
  border:5px solid #F5DEA3;
}
.border-color4 .media--circle {
  border:5px solid #CDE4CA;
}
/*
Montserrat, SemiBold - 50px
Familia de fuentes: Montserrat
Grosor de fuente: SemiBold
Tama침o de fuente: 50px
Color: #575756
Espaciado entre caracteres: 0
Interlineado: 61

Montserrat, Regular - 19px
Regular - 19px, #575756

Montserrat, Regular - 19px
Regular - 19px, #575756

Montserrat, SemiBold - 26px
SemiBold - 26px, #575756

Montserrat, Bold - 19px
Bold - 19px, #575756

Montserrat, SemiBold - 19px
SemiBold - 19px, #575756

Montserrat, SemiBold - 30px
SemiBold - 30px, #575756

Montserrat, Italic - 15px
Italic - 15px, #575756

Montserrat, Regular - 15px
Regular - 15px, #575756

Montserrat, Regular - 14px
Regular - 14px, #575756

Montserrat, SemiBold - 22px
SemiBold - 22px, #575756

Montserrat, Bold - 19px
Bold - 19px, #FFFFFF

Montserrat, SemiBold - 19px
SemiBold - 19px, #EFD1BF

*/

/* mobile */
@media (max-width:749px) {
/* Home */
  .banner-home  .banner__content {
    display:flex;
        flex-direction: column;
    
  }
  .banner-home .h0 {
    font-size:20px;
    line-height:24px;
  }
.banner-home .banner__text.body span, .banner-home .container-right p  {
font-size: 10px;
    line-height: 14px;
  }
  .banner-home .banner__buttons  .button {
    font-size:12px !important;
    
  }
.banner-home .imagenproduct {
  padding-bottom:0px;
  margin-bottom:20px;
}
  .banner-home .container-right {
    padding-bottom:30px;
      margin-bottom:0px;
  }
  .collection ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 0px !important;
}
}
