/*.title-wrapper--no-top-margin>.title ,
h2.rich-text__heading.rte,


.multi-columns-titulo1,
.rich-text-titulo1 {
  text-align: center;
  font-size:30px;
  font-weight:700;
letter-spacing: 0px;
color: #575756;
opacity: 1;
}

.multi-columns-texto,
.rich-text-texto {
  font-size:19px;
  line-height:22px;
  text-align: center;
}


.multi-columns-btn,
.rich-text-btn {
    font-size:19px;
  line-height:22px;
    text-align: center;
}

*/
/* settings.customcss 
Estilos: 
Multi Column Classic  multi-classic
Rich Text Classic   rich-classic
  Multi Column char  multi-char
Multi Column Featured  multi-featured
Multi Column Slider multi-slider
Multi Column testimonials  multi-testimonials
section newsletter section-news
*/

/* menu */
.banner-home .container-right  p {
  color:white;
}
.list-menu__item {
  font-weight:600;
  
  color:#575756;
}
/*svg */
.header__icons svg {
      width: 24px;
}
.cart-count-bubble {
      bottom: 1.7rem;
    left: 3rem;

}
.margin5 {
  gap:5px;
}

.multicolumn .title,
.collection__title .title,
.rich-text__heading,
.rich-text-title {
  font-size: 30px;
  text-align: center;
  line-height: 36px;
  font-weight: 600;
      width: 100%;
}
.rich-text__heading.h2 {
  font-size:20px;
  line-height:26px;
}

h3.card__heading ,
.multi-featured h3,
.multi-column-title,
.products-row-title,

{
  font-size: 22px;
  line-height: 37px;
  font-weight: 600;
}

.multicolumn-column-title {
  font-size: 19px;
  line-height: 22px;
  font-weight: 600;
}


.products-legend,
.products-reviews-count {
  font-size: 14px;
  text-align: left;
  line-height: 18px;
  font-weight: 300;
}

.products-paragraph {
  font-size: 15px;
  text-align: left;
  line-height: 18px;
  font-weight: 300;
  
}
.card-information>.price,
.products-price
.multicolumn-featured-title{
  font-size: 19px;
  text-align: left;
  line-height: 22px;
  font-weight: 600;
 
}

.products-addtocart-btn{
  background-color: #C2C2DE;
  border-radius: 9px;
  border: 3px solid #C2C2DE;
  font-size: 19px;
  text-align: center;
  color: #FFFFFF;
  line-height: 22px;
}

.rich-text__text p,
.rich-text-paragraph,
.multicolumn-featured-paragraph{
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  text-align: center;
}
.rich-text__text p strong {
  font-weight:600;
}

.rich-text-btn{
  background-color: #FFFFFF;
  border-radius: 9px;
  border: 3px solid #575756;
  font-size: 19px;
  text-align: center;
  color: #575756;
  line-height: 22px;
}

.multi-testimonials .rte,
.rich-text-legend,
.testimonial-paragraph{
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  text-align: center;
}

.slider-title,
.newsletter-subtitle,
.faq-title, .collapsible-content__heading
{
  font-size: 26px;
  line-height: 24px;
  font-weight: 600;
  text-align: left;
}
.multi-testimonials h3,
.testimonial-name,
.collection .card .card__heading {
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  text-align: center;
}
.collection .card .card__heading {
  text-align:left;
    font-size: 22px; 
   line-height: 27px;
}
.multi-testimonials 
.multicolumn-card__info {
 display: flex;
  row-gap:22px;
    flex-direction: column-reverse;
  text-align:center;
}




.footer-title{
  font-size: 26px;
  line-height: 24px;
  font-weight: 600;
}


.footer-links{
  text-decoration: underline;
  font-size: 19px;
  line-height: 50px;
  text-align: left;
  font-weight: 300;
}


.legend {
font-size:10px;

  
}
/* products */
@media  (min-width:750px){ 
.collection ul {
  display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
}
.collection li {
  width: 100% !important; max-width: 100% !important;
} 

}
.segoe {
  font-family:"";
}

.collection  h2 {
  margin-bottom:60px;
}
.collection .price__regular {
  text-align: left;
    font-size: 18px;
    line-height: 22px;
  
}
.collection  .button--secondary:after {
  content:none;
}
.collection  .quick-add__submit {
 background:#D0C4E2;
  border-radius:30px;
  color:white;
  font-weight:bold;
}
.collection .card-information {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
#Slide-template--17804308381991__featured_collection-2 .card__heading   {
  padding-right:26px;
  
}
.collection .card .card__heading {
    text-align: left;
    font-size: 21px;
    line-height: 27px;
}
.collection .card_description {
  font-size:12px;
     line-height: 14px;
}
.collection .caption-large  {
  display:none;
}
.rating-star:before {
    -webkit-text-fill-color: #EFD1BF !important;
  letter-spacing:2px;
  font-size: 18px;
}
.collection .price  {

}
.collection .card--standard>.card__content .card__information {
    padding-left: 0;
    padding-right: 0;
    row-gap: 15px;
    display: grid;
}
.collection ul  {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 70px !important;
  row-gap:50px;
  
  
}
.collection ul img, .collection .card__media , .collection .card .card__inner .card__media, .collection .card--standard .card__inner {
  border-radius:30px !important;
}
/* comment */
@media screen and (min-width: 990px) {
.comment .rich-text__blocks {
    max-width: 100%;
}
  }
.comment img {
  width:600px;
  margin:20px auto;
}
.comment p {font-size: 16px;
    line-height: 23px;  }
/* páginas boutique y lamarque*/
.text-black h2.banner__heading  {
  color:#575756;
  font-weight:bold;
  margin-bottom:50px;
}

.text-black .banner__text  {
  color:#575756;
  font-size:22px;
 line-height:28px;
    font-weight:500;
}

.banner-heading{
  font-size: 50px;
  line-height: 61px;
  font-weight:600;
  text-align:center;
}

.banner-subtitle,
{
  font-size: 15px;
  line-height: 18px;
  font-weight: 300;
  text-align:center;
}

.richtext-legend-italic{
  font-style: italic;
  font-size: 15px;
  line-height: 18px;
  font-weight:300;
  text-align:center;
}

.hero-slideshow-title{
    font-size: 50px;
  line-height: 61px;
  font-weight:600;
  text-align:left;
}


.hero-slideshow-subtitle{
  font-size: 30px;
  line-height: 36px;
  font-weight:300;
  text-align:left;
}


.lateam-title{
  font-size: 22px;
  line-height: 37px;
  text-align:center;
  font-weight: 600;
}

.lateam-paragraph{
  font-size: 19px;
  line-height: 22px;
  text-align:center;
  font-weight: 300;
}


/* multi-icons */
.multi-icons {
      margin-top: -20px;
}
.multi-icons svg {

    height: 64px;
    position: relative;
    display: block;
    margin: 20px auto;
}
.color-black fill, .color-black path, .color-black stroke {
  color:black;
     stroke:black;
}

/* multi-capsules */
.multi-capsules h3 {
  font-size:16px;
  font-weight:600;
  color:#575756;
 
}
.multi-capsules .info5 h3 {
  padding:0px !important;
}
.multi-capsules ul {
  margin-top:10px;
}
.multi-capsules br {
  margin-bottom:15px;
}
.multi-capsules ul li {
  margin-bottom:10px;
}
.multi-capsules ul li, 
.multi-capsules p {
   font-size:12px;

  color:#575756;
}
.multi-capsules h3 {
 text-align:center;
  margin-bottom:15px !important;
}
/* página contact*/



.contact-form-inputs{
  border-radius: 9px;
  border: solid 1px #E9C9CA;
  background: #FFFFFF;
  color: #575756;
  font-size: 15px;
  line-height: 18px;
  text-align: left;
}

.contact-form-checklist-font,
{
  font-size: 15px;
  line-height: 18px;
  font-weight: 300;
  text-align:left;
}

.contact-form-btn{
  font-size: 19px;
  line-height: 22px;
  background: #E9C9CA;
  text-align:center;
  border: 3px solid #E9C9CA;
  color: #575756;
  border-radius: 9px;  
  font-weight: 600;
  
  
}
.radios label {
  vertical-align: top;
    font-size: 13px;
}

.radios {
 
  
}
.radios input {
  margin-bottom:20px;
  width:20px;
  height:20px;
  
}

/* página FAQ*/

.faq-headings
{
  font-size: 26px;
  line-height: 24px;
  font-weight: 600;
  text-align: left;
}

.faq-tabs-closed-background{
  background: #E9C9CAE0;
  border-radius: 16px;
  border: none;
  
}

.faq-tabs-open-background{
  background: #FFFFFF;
  border-radius: 16px;
  border: 1px solid #E9C9CA;
  
}

.faq-tabs-tittle,
.accordion__title{
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
 
}

.faq-content-text,
.accordion p {
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  text-align: left;
}









/* Multi slider*/
.multi-slider .slider-mobile-gutter {
   max-width: 1000px;
    margin: 0 auto;
}
.multi-slider .multicolumn-card {
  border-radius:52px;
  max-width: 1000px;
    margin: 0 auto;
}
.multi-slider .multicolumn-card.content-container {
  display:flex;
  padding:15px 15px;
  background:#FDE9D8;
  column-gap:30px;
  text-align:left;
}
.multi-slider .multicolumn-card.content-container  > div:first-child {
  width:35%;
}
.multi-slider .multicolumn-card.content-container  > div:last-child {
  width:60%;
}
.multi-slider .multicolumn-card.content-container h3 {
  font-size:23px;
  font-weight:600;
}

.banner-home .h0 {
  font-size:35px;
   line-height: 45px;
  font-weight:bold;
  margin-bottom:30px;
  
}
.banner-home .media > img {
   object-position:bottom; }
@media screen and (min-width: 750px) {
.banner-home .banner--desktop-transparent .banner__box  {
  padding-top:0px;
}
}
.banner-home .banner__content.banner__content--middle-left {
  padding-top:0px !important;
}
.banner-home .banner__text.body span, .banner-home .container-right p
{
font-size: 16px;
    line-height: 23px;
    display: block;
    color: white;
  margin-bottom:10px;
}

.banner-home .button {
    font-weight:bold;
}
.banner-home .button::after {
  border: 1px solid #FFFFFF;
border-radius: 33px;
}
.mb-10b {
  margin-bottom:50px !important;
}
.bg_contact {
  background-image:url(https://cdn.shopify.com/s/files/1/0716/5509/6615/files/Photo_bandeau_accueil_100e7a3b-8b88-431f-991a-da3104999a70.png?v=1679352497);
background-position: left bottom;
    background-size: 100%;
}
.bg_contact  > div {
  background: transparent !important;
}
.bg_contact  .bg_subtitle p {
  font-size:14px;
  
}
 .bg_subtitle p {
  font-size:14px;
  
}

/*home collection card image hover*/

.multicolumn-card__image-hover {
    opacity: 0;
 object-fit: contain !important; 

} 
.multi-capsules .media.media--transparent.media--adapt:hover img.multicolumn-card__image {
  opacity:0;
}
.multi-capsules .media.media--transparent.media--adapt:hover img.multicolumn-card__image-hover {
  opacity:1;

}

/*stars_size */
.stars_size .multicolumn-card__image-wrapper {
  margin:0px auto !important;
  
}
.stars_size  img:hover {
  opacity:1 !important;
}


/* bg1 */
.accordion details[open] {
  border:1px solid  #F8C8D3;
    border-radius: 30px;
      padding: 10px 20px !important;
  margin-bottom:30px;
}
.accordion details {

  margin-bottom:30px;
}
.accordion details[open] summary {
  background:none !important;
    padding: 10px 10px !important;
}
.accordion summary {
      background: #F8C8D3;
    color: #575756;
    border-radius: 30px;
    padding: 10px 20px !important
}


/*lamarque_text1*/
@media (min-width:750px) {
  .image-with-text__grid--reverse .image-with-text__content {
    padding-left:0px;
     padding-right:160px;
  }
}
.lamarque_text1 p, .lamarque_text2 p {
  font-size:16px;
  
}

.lamarque_text1 h2, .lamarque_text2 h2 {
      font-size: 30px;
  margin-bottom:30px;
    line-height: 36px;
    font-weight: 600;
}
/*Team*/
.svg-fullwidth h2 {
   margin-bottom:30px;
     margin-top:10px;
}
.images-team img {

}
.images-team h2.title {
  margin-bottom:30px;
}
.images-team   h3 {
  color:#575756;
  font-weight:600;
}
.images-team   h4 {
  color:#575756;
  font-weight:600;
  margin-top:20px !important;
  margin-bottom:20px;
}
.images-team    p {

   line-height:18px ;
      font-size: 14px;
    padding: 0px 60px;
}

.images-team  .multicolumn-card__image-wrapper{
    width: 150px;
    margin: 0 auto !important;
}
.border-color1 .media--circle {
  border:5px solid #FBD1AD;
  width:170px;
  height:170px;
}
.border-color2  .media--circle{
  border:5px solid #B7DAF3;
    width:170px;
  height:170px;
}
.border-color3 .media--circle{
  border:5px solid #F5DEA3;
    width:170px;
  height:170px;
}
.border-color4 .media--circle {
  border:5px solid #CDE4CA;
    width:170px;
  height:170px;
}
/*
Montserrat, SemiBold - 50px
Familia de fuentes: Montserrat
Grosor de fuente: SemiBold
Tamaño de fuente: 50px
Color: #575756
Espaciado entre caracteres: 0
Interlineado: 61

Montserrat, Regular - 19px
Regular - 19px, #575756

Montserrat, Regular - 19px
Regular - 19px, #575756

Montserrat, SemiBold - 26px
SemiBold - 26px, #575756

Montserrat, Bold - 19px
Bold - 19px, #575756

Montserrat, SemiBold - 19px
SemiBold - 19px, #575756

Montserrat, SemiBold - 30px
SemiBold - 30px, #575756

Montserrat, Italic - 15px
Italic - 15px, #575756

Montserrat, Regular - 15px
Regular - 15px, #575756

Montserrat, Regular - 14px
Regular - 14px, #575756

Montserrat, SemiBold - 22px
SemiBold - 22px, #575756

Montserrat, Bold - 19px
Bold - 19px, #FFFFFF

Montserrat, SemiBold - 19px
SemiBold - 19px, #EFD1BF

*/

/* 404 */
.custom404 {
  font-size:70px;
}
.custom404 .custom4 {
  color:#CDE4CA;
}
.custom404 .custom40 {
  color:#F5DEA3;
}
.custom404 .custom404 {
  color:#B7DAF3;
}
.icon-404 {
  color:#575756;
  font-size:50px;

}
.btn-circle-404 a {
     background: #FBD1AD !important;
    color: #575756 !important;
    border-radius: 30px;
  border:0px;
}
.btn-circle-404 a:before, .btn-circle-404 a:after {
  content:none;
}
@media screen and (min-width: 990px) {
.rich-text__blocks {
    max-width: 98rem !important;
}
  }

/*news*/
.newsletter  h2.h1 {
      font-size: 30px;
 
    line-height: 36px;
    font-weight: 600;

}
.newsletter h3 {
    font-size: 22px;
    margin-top:30px;
   margin-bottom:30px;
    line-height: 26px;
    font-weight: 600;
}
.newsletter .newsletter__subheading {
  width:100%;
  max-width:100%;
  margin-bottom:30px;

}
.newsletter  p {
      font-size: 16px;
    line-height: 19px;
    font-weight:400;
    text-align: center;
}
.newsletter  .newsletter-form__field-wrapper .field {
  flex-direction: column;
  border:none;
  box-shadow:none;
   
}
.newsletter  .newsletter-form__field-wrapper .field:before,
.newsletter  .newsletter-form__field-wrapper .field:after {
  content:none;
}
.newsletter  .newsletter-form__field-wrapper .field  input {
   border-radius:30px;
}
.newsletter  .newsletter-form__button {
  border:2px solid #575756;
  border-radius:30px;
  margin:0 auto;
  margin-top:30px;
  padding:4px 8px;
  width:200px;
  color:#575756;
  font-weight:bold;
  position: relative;
}

/*footer*/
.newsletter-form__field-wrapper .field {
  flex-direction: column;
}
footer .newsletter-form__button {
  border:2px solid #575756;
  border-radius:30px;
  margin-top:10px;
  padding:4px 8px;
  width:150px;
  color:#575756;
  font-weight:bold;
  position: relative;
}
.footer__content-top {
  padding:0px 3rem;
}
.multi-logos .slick-prev, .multi-logos .slick-next {

}
.multi-logos .media img {
    width: 120px !important;
    object-fit: contain;
}
.multi-logos h2{
  margin-bottom:20px !important;
}
.paiment svg {
  margin-bottom:40px;
}  
.paiment h3  {
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    text-align: center;
}
.paiment p

{
  font-size:14px;
}
footer .footer-block__details-content .list-menu__item--link, footer p {
  font-size:14px;
  font-weight:500;
  line-height:16px;
text-align:left;
  padding-bottom:0px;

}
.field__input input {
      height: 4rem;
}
.footer a[href="/pages/nous-rejoindre"] {
  margin-bottom:30px;
}
.footer a {
  text-decoration:underline;
  color:#575756;
}
footer .footer-block__heading {
  text-align:left;
  font-weight:bold;
  font-size:22px;
      margin-bottom: 2.5rem;
}
.footer-block--newsletter {
  margin-top:0px !important;
    text-align:left;
}
.footer__list-social  {
  margin-bottom:20px;
}
footer .list-social__item svg {
  height:3rem;
  width:3rem;
}
.footer-block  .list-social {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
footer .footer-block {
  position:relative;
}
footer .footer__copyright, footer .imagen-footerlogo {
    text-align: left;
    position: absolute;
    bottom: 0px;
}
footer .newsletter-form__field-wrapper .field__input {
  margin-top:10px;
  border-radius:30px;
  height:4rem;
}
.footer__content-bottom {
  display:none;
}
.link_list_container {
  width:250px;
  margin:0 auto;
}
.text_container {
  width:250px;
      margin-left: auto;
 margin-right:0px;
}
footer .field:after {
  content:none;
}
footer .copyright__content,
.copyright__content a {
  font-size:14px;
}

footer .newsletter-form {
  max-width:250px;
  margin-left:0px;
  margin-top:15px;
}
footer .field label { top: 20px; 
                    font-size:14px;}
footer .newsletter-form__button {  top: 5px;  }

 .no-desktop {
    display:none;
  }

/* pdp */
.product__title h1 {
  font-size:26px;
    font-weight:bold;
}
.ft, .product__description p, .product__text {
  font-size:14px;
}
.ft2  {
    display:grid;
  grid-template-columns:1fr 1fr;
}
.ft2 div {
  font-size:12px;
}
.spr-stars span {
  display:flex;
}
.product__description ul {
  display:grid;
    font-size:14px;
  padding-left:0px;
  margin:20px 0px;
  grid-template-columns:1fr 1fr;
}

.rte ul {
  padding-left:0px !important;
}
@media screen and (min-width: 750px) {
  .header {
    max-width:100%;
    padding:0px 5rem;
  }
  .header__inline-menu {
    display: flex;
    justify-content: center;
}
.product--thumbnail_slider .thumbnail-slider {
  display: flex;
    align-items: center;
    flex-direction: column; 
}
.product--thumbnail_slider .product__media-gallery   {
        display: flex !important;
    flex-direction: row-reverse !important;
  }
  slider-component {
    width:1200px !important;
    max-width:100%;
  }
  .thumbnail-slider  {
     width:20% !important;
  }
  .thumbnail-slider .thumbnail-list.slider--tablet-up {
    display: flex;
    padding: 0.5rem;
    flex: 1;
    scroll-padding-left: 0.5rem;
    flex-direction: column;
}
  .thumbnail-list.slider--tablet-up .thumbnail-list__item.slider__slide {
    height: calc(20% - 0.8rem) !important; 
    width: 75px !important; 
}
  }
/* mobile */

@media (max-width:749px) {
/* Home */
  .banner-home  .banner__content {
    display:flex;
        flex-direction: column;
    
  }
  .banner-home .h0 {
    font-size:20px;
    line-height:24px;
  }
.banner-home .banner__text.body span, .banner-home .container-right p  {
font-size: 10px;
    line-height: 14px;
  }
 .banner-home .container-right p  {    
   padding-right: 20px;
                                   }
  .banner-home .banner__buttons  .button {
    font-size:12px !important;
    
  }
.banner-home .imagenproduct {
  padding-bottom:0px;
  margin-bottom:20px;
}
  .banner-home .container-right {
    padding-bottom:30px;
      margin-bottom:0px;
  }
  .imageicon {
    position: absolute;
    bottom: 50px;
    left: 20px;
    width: 20px;
}
  .banner-home svg {
    bottom:-40px !important;
  }
  .collection ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 0px !important;
}

  .multi-slider .multicolumn-card.content-container {
    flex-direction: column;
  }
  .multi-slider .multicolumn-card.content-container > div:first-child {
    width:80%;
  }
  .multi-slider .multicolumn-card.content-container > div:last-child {
    width:100%;
  }
  .multi-slider .slick-slide .button {
    padding: 12px 14px;
    text-align: center;
    font-size: 14px;
    width: 100%;
    
  }
  .multi-slider .slick-slide .rte-ingredient {
    margin-top:10px;
  }
    .multi-slider .slick-slide .rte p ,  .multi-slider .multicolumn-card__info p{
   font-size:12px;
line-height:14px;
  }
  header-drawer .list-social__item svg {
    height:30px;
  }
  .menu-drawer .list-social__link {
    padding: 1.3rem 0.25rem;
}
 .multicolumn .title, .collection__title .title, .rich-text__heading, .rich-text-title {
   font-size:22px;
 }
.collection li {
        padding-right:20px !important;
  }
.rich-text__text p, .rich-text-paragraph, .multicolumn-featured-paragraph {
  font-size:14px;
  line-height: 17px;
}
/* .imagen-footerlogo */
  .no-mobile {
    display:none;
  }
  .no-desktop {
    display:block;
  }
  footer .footer__copyright, footer .imagen-footerlogo {
    position:relative !important;
  }
  footer .footer-block__heading {
    font-size:16px;
  }
  footer .footer-block__details-content .list-menu__item--link, footer p {
    font-size:12px;
  }
  .footer__list-social.list-social {
    justify-content: start !important;
}
}
